body{
    background-image: url(assets/10483960-fundo-vermelho-branco-adequado-para-imagem-fundo-vermelho-e-branco-gratis-vetor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

header{
    background-color: white;
    color: rgb(165, 8, 8);
    padding: 15px;
    border: 3px solid rgb(185, 0, 0);
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 120px;
    height: auto;
}

.container{
    background-color: white;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding-bottom: 30px;
}

.titulo{
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,select{
    border: none;
    padding: 12px;
    outline: none;
}

button{
    padding: 14px;
    background-color: red;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}